# Environment variables
.env
frontend/.env

# Virtual environment folder
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files (optional, but good practice)
.vscode/
